<h1>Chuck's {{project.name}}</h1>
<a link href="/">return back</a>

  <div class="project">
    <div class="project-name">
      <h1>{{project.name}}</h1>
      <a href={{project.gitLink}}>To the Github repository</a>
         <p> {{project.name}} was intresting to work with {{project.skills}} to make this.</p>
        <img src={{project.imagePath}}>
      </a>
      <br>
      <br>

    </div>
  </div>
